<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body background="../static/1.jpg">
		<center>
		<h1>Balance: {{ balance }}</h1>
		<form action="/balance/put" method="post">
			<label for="sum">Сумма:</label>
			<input type="text" name="sum" />
			<label for="description">Описание:</label>
			<input type="text" name="description" />
			<button type="submit" class="btn btn-primary">Put</button>
		</form>
		<form action="/balance/take" method="post">
			<label for="sum">Сумма:</label>
			<input type="text" name="sum" />
			<label for="description">Описание:</label>
			<input type="text" name="description" />
			<label for="type">Тип затрат:</label>
			<select name="type" id="type">
				<option>General</option>
				<option>Optional</option>
			</select>
			<button type="submit" class="btn btn-primary">Take</button>
		</form>
		<form action="/stats" method="get">
			<button type="submit" class="btn btn-primary">Stats</button>
		</form>
		</center>
	</body>
</html>